[Unit]
Description=robot service

[Service]
User=ubuntu
ExecStart=/bin/bash --login -c 'source /home/ubuntu/.bashrc; /home/ubuntu/StanfordQuadruped/ros2/run_robot_ros.sh'
KillSignal=2
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
